<section class="home-section">
    <h1>Find your match</h1>
    <p>
        Come on in to view your matches... all you need to do is sign up!
    </p>
    <footer>
        <button
            routerLink="/signup"
            mat-raised-button
            color="primary"
            class="home-section__button"
        >
            Register
        </button>
        <button
            mat-raised-button
            class="home-section__button"
            (click)="show()"
        >
            Learn more
        </button>
    </footer>
</section>