html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.snack-error {
    background-color: #B00020;
    color: aliceblue;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding: 1% 5%;
}