:host {
    display: flex;
    width: 100%;
    justify-content: center;
}

.login-card {
    margin-top: 200px;
    max-width: 400px;
    padding: 50px 100px;
}

.login-card__title {
    text-align: center;
}

.login-card__content {
    width: 250px;
}

.login-card__field {
    display: block;
}

.login-card__submit-button {
    width: 100%;
}